<h1> <%= @movie.name %> <small>Directed by: <%= @movie.director %></small></h1>
<h4> Ranked: <%= @movie.rank %> </h4>
<p> <%= @movie.description %></p>
<%= form_for @movie do |f| %>
  <%= f.hidden_field :upvote %>
  <%= f.submit "Upvote", class: "btn btn-primary" %>  
<% end %>
<br />
<%= link_to "Edit #{@movie.name}", edit_movie_path, class: "btn btn-default"%>
<%= link_to "DELETE", @album, method: :delete, confirm: "Are you sure?", class: "btn btn-danger" %>
<%= link_to "View All Movies", movies_path, class: "btn btn-default"%>
<%= link_to "View All Media", root_path, class: "btn btn-default"%>

