<div class="row">
  <div class="col-md-4">
    <h1>Top Movies</h1>
    <% if @movies.empty? %>
      Oops... There are not movies yet, <%= link_to "add one", new_movie_path %>.
    <% end %>
    <%= link_to "View More Movies", movies_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Books</h1>
    <% if @books.empty? %>
      Oops... There are not books yet, <%= link_to "add one", new_book_path %>.
    <% end %>
    <%= link_to "View More Books", books_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Albums</h1>
    <% if @albums.empty? %>
      Oops... There are not albums yet, <%= link_to "add one", new_album_path %>.
    <% end %>
    <%= link_to "View More Albums", albums_path %>
  </div>
</div>
  