<div class="row">
  <div class="col-md-4">
    <h1>Top Movies</h1>
    <% if @movies.empty? %>
      Oops... There are not movies yet, <%= link_to "add one", new_movie_path %>.
    <% else %> 
      <% @movies.order("rank DESC")[0..9].each do |movie| %> 
        <h2> <%= link_to movie.name, movie %> <small>Ranked: <%= movie.rank %> </small></h2>
      <% end %>  
    <% end %>
    <%= link_to "View More Movies", movies_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Books</h1>
    <% if @books.empty? %>
      Oops... There are not books yet, <%= link_to "add one", new_book_path %>.
    <% else %> 
      <% @books.order("rank DESC")[0..9].each do |book| %> 
        <h2> <%= link_to book.name, book %> <small>Ranked: <%= book.rank %> </small></h2>
      <% end %>  
    <% end %>
    <%= link_to "View More Books", books_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Albums</h1>
    <% if @albums.empty? %>
      Oops... There are not albums yet, <%= link_to "add one", new_album_path %>.
    <% else %> 
      <% @albums.order("rank DESC")[0..9].each do |album| %> 
        <h2> <%= link_to album.name, album %> <small>Ranked: <%= album.rank %> </small></h2>
      <% end %>  
    <% end %>
    <%= link_to "View More Albums", albums_path %>
  </div>
</div>
  