<h1><%= @book.name %> <small>Directed by: <%= @book.director %></small></h1>
<p><%= @book.description %></p>
<%= link_to "View All Books", books_path, class: "btn btn-default"%>
<%= link_to "View All Media", root_path, class: "btn btn-default"%>
