<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="page-header">
        <span class='brand'><%= link_to "Media Ranker", root_path %> <small>Ranking the Best of Everything</small></span>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
